<% include ../partials/header.ejs %>

<main>

	<h2>Create Your Own Product!</h2>

	<a href="/">Return to Home Page</a>

	<div id="edit-form" class="product-container-show">

		<form action="/" method="POST">
			<strong>Name:</strong><br>
				<input type="text" name="name" placeholder="Name"><br><br>
			<strong>Description:</strong><br>
				<!-- <input type="text" name="description" placeholder="ex: chocolate filling"><br><br> -->
				<textarea name="description" rows="8" cols="40" placeholder="ex: chocolate filling"></textarea><br/><br>
			<strong>Image URL:</strong><br>
				<input type="text" name="img" value="https://dummyimage.com/600x400/000/fff" placeholder="https://dummyimage.com/600x400/000/fff"><br><br>
			<strong>Price:</strong><br>
				<input type="text" name="price" placeholder="$"><br><br>
			<strong>Quantity:</strong><br>
				<input type="text" name="qty" placeholder="ex: 100"><br><br>
			<button>SUBMIT</button>

		</form>

	</div>
</main>
</body>
</html>
