
<html>
<head>
	<title>Happy Shopping!</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>
</head>
<body>

	<nav>
		<a href='/'><h1> The Product Shop </h1></a>

		<div id="shoppingcart">
			<a href="/user"><img src="/shopping-cart.png"><br>
			Shopping Cart</a><br>
		</div>
	</nav>

  {{{ body }}}
